/*class for all of our content to sit in
 */
.textelement {
    height: auto;
    left: 172px;
    border: medium;
    margin: 1% 10%;
    background: rgba(214, 214, 214, 0.6);
    padding: 10px 50px;
    border-radius: 10px;
}

/* Somtimes I want the images in the center
 * here's that option
 */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Circle images are totally the rage these days
 */
#selfie {
    border-radius: 50%;
}

/* push our text forward a little to give the user's
 * eyes a break
 */
p {
    margin-left: 50px;
}

/* Each class movie poster
 * All the content will sit inside these divs
 */
.poster {
    margin: 5px 5px;
    border: medium;
    width: 300px;
}

/* All the movie posters will sit inside of this
 * class
 */
.movies {
    text-align: center;
}