*{
    font-family: sans-serif;
}

.top {
    background: white;
}

.nav_bar {
    float:  left;
    width: 150px;
}

.registration_form {
    margin-left:  200px;
}

.content {
    background-image: url("../img/globe.png");
    background-repeat: no-repeat;
    height: -webkit-fill-available;
}

ul {
    padding-left: 0;
}

li {
    background-color: #bbddea;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    border-color: #afb4b5;
    padding: 5px 15px;
    text-align: left;
    margin: 5px 5px;
    list-style-type: none;
}