.large {
    height: 500px;
}
.grey {
    background-color: #dbd8d3;
}

.picture0 {
    background: url("../../assets/img/python.jpg") no-repeat;
    background-size: cover;
}

.picture1 {
    background: url("../../assets/img/computer-programmer.jpg") no-repeat;
    background-size: cover;
}

.content {
    padding-top: 20%;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.row {
    margin: 0 0;
}
