.small {
    height: 250px;
}

.smaller {
    height: 100px;
}

.smaller .content {
    padding-top: 5%;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.large {
    height: 500px;
}
.grey {
    background-color: #dbd8d3;
}

.content {
    padding-top: 20%;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.small .content{
    padding-top: 5%;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.row {
    margin: 0 0;
}

.jumbotron {
    margin-bottom: 0;
}

#tryPythonIframe{
    position: relative;
    height: 100%;
    width: 100%;
}